<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改书本信息</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">

    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <h1>
                    <small>修改信息</small>
                </h1>
            </div>
        </div>
    </div>

    <form th:action="@{/book/updateBook}" method="post">
        <input type="hidden" name="bookId" th:value="${book.bookId}"/>
        书籍名称：<input type="text" name="bookName" th:value="${book.bookName}"/> <br><br><br>
        书籍数量：<input type="text" name="bookCounts" th:value="${book.bookCounts}"/> <br><br><br>
        书籍详情：<input type="text" name="detail" th:value="${book.detail}"/> <br><br><br>
        <input type="submit" value="提交"/>
    </form>

</div>
</body>
</html>